* {
    font-family: 'Roboto', sans-serif;
}

.dropdown-toggle::after {
    margin-left: .5em;
}

.nav-item {
    font-weight: 600;
}

.form-control {
    border-radius: 3px !important;
    min-height: 50px;
    border: 1px solid #E28800;
}

.form-control::placeholder {
    color: #969693;
    font-weight: 700;
}


ul[role='navigation'] {
    display: flex;
    gap: 10px;
}

ul[role='navigation'] li {
    color: white;
    min-width: 40px;
    min-height: 40px;
    padding: .5em 1em;
    font-weight: 700;
    display: flex; justify-content: center; align-items: center;
}
ul[role='navigation'] li a {
    text-decoration: unset !important;
    color: var(--tertiary);
}

ul[role='navigation'] li.selected {
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--tertiary) 
}


.search-function select {
    min-height: 40px !important;
}

.detail-image-show {
    cursor: pointer;
    border: 4px solid transparent;
}

.detail-image-show.not-selected {
    filter: brightness(.5);
}

.detail-image-show:hover {
    border-color: var(--primary) !important;
    filter: brightness(.75);
}